/* ALL PAGES */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 233, 240);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: #0f031a;
  text-align: center;
  }

header {
  font-size: 1.3em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #0f031a;
  }
      
.navbar {
  display: flex;
  background-color: #9979b0;
	}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
	}

.navbar a:hover {
  background-color: #ddd;
  color: black;
	}

.button {
  background-color: #9979b0;
  border-radius: 2px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  }

.button1:hover {
  background-color: white;
  color: black;
  }

  .fa-instagram {
    color: white;
  }
  
  .fa:hover {
    opacity: 0.9;
  }

/* HOME */

.frontimg {
  border: 6px solid #9979b0;
  width: 700px;
  height: 600px;
}

section p {
  font-family: 'Quicksand', sans-serif;
  padding: 3%;
}

/* ABOUT ME */

.picofme {
  width: 300px;
  height: 400;
  float: right;
  border: 4px solid #9979b0;
}

.AboutmePara {
  font-size: 17px;
  display: inline-block;
  background-color: #c9b1db;
  margin-bottom: 5%;
}

/* ART PAGE */

.artworky {
  width: 100%;
  max-width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 

.cathaven {
  width: 600px;
  height:400px;
  margin-top: 5%;
}
  
.creativemind {
  height: 700px;
  width: 500px;
  margin-top: 5%;
}

.cathaven:hover, .creativemind:hover {
  border: 5px solid #9979b0;
  cursor: pointer;
  transition-duration: 0.5s;
  display: inline-block;
} 

/* COMMISSIONS */

ul {
  list-style-type: none;  
}

footer {
  font-size: small;
  font-family: 'Quicksand', sans-serif;
  margin-top: auto;
  clear: both;
}

