body {
  background-color: rgb(236, 233, 240);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: #0f031a;
  margin: 0px;
  text-align: center;
  }

header {
  font-size: 1.3em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #0f031a;
  }
      
.navbar {
  display: flex;
  background-color: #9979b0;
	}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
	}

.navbar a:hover {
  background-color: #ddd;
  color: black;
	}

.button {
  background-color: #9979b0;
  border-radius: 2px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  }

.button1:hover {
  background-color: white;
  color: black;
  }

.frontimg {
  border: 6px solid #9979b0;
}

section p {
  padding: 5%;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  padding-right: 15%;
}

.fa-instagram {
  color: white;
}

.fa:hover {
  opacity: 0.9;
}

.artworky {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

ul {
  list-style-type: none;  
}

footer {
  font-size: small;
  font-family: 'Quicksand', sans-serif;
  margin-top: auto;
}

.cathavenhov:hover, .creativemindhov:hover, .frontimg:hover{
  background-color: #9979b0;
  border-radius: 2px;
  padding: 10px;
  display: inline-block;
  margin: 2px 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}
