@media screen and (max-width: 1200px) {
    .bio-section {
        flex-direction: column;
        align-items: center;
    }

    .word-section, .bio-section p {
        max-width: 100%;
        min-width: auto;
        padding: 1em;
    }

    .word-section h1 {
        font-size: 1.5em;
        margin-top: 1em;
    }

    .bio-section p {
        font-size: 0.9em;
        line-height: 1.4em;
    }

    .resume-button {
        font-size: 0.8em;
        padding: 8px;
    }

    .image-button-section img {
        height: 20em;
        width: 16em;
        margin-top: 5em;
        object-fit: cover;  /* add this */
        object-position: center;
    }
}

@media screen and (max-width: 538px) {

    .word-section li {
        font-size: 80%;
    }

}

.hello {
    font-style: italic;
}
    

.word-section h1 {
    font-family: 'EB Garamond';
    margin-top: 2em;
    font-size: 2em;
}

.word-section {
    line-height: 1.7; 
    padding: 2em;
}

.highlight-p {
    background-color: #f8e2d1;
}

.image-button-section img {
    height: 25em;       /* desired height */
    width: 20em;        /* desired width */
    margin-bottom: 0em;
    filter: var(--shadow);
    object-fit: cover;  /* crop instead of stretch */
    object-position: center; /* center the image */
}

.experience {
    font-weight: 600;
    background-color: #f8e2d1;
    /* margin-top: 0.5em; */
}

.word-section li {
    margin-bottom: 0em;
}

.word-section ul {
    margin-bottom: 2em;
}

.word-section {
    max-width: 40em;
    min-width: 300px;
    margin: 0 2em;
    text-align: justify; 
}

.word-section p {
    max-width: 40em;
    min-width: 300px;
    line-height: 1.5em;
    padding: 0 1.6em 1em 1.6em;
    margin: 0 auto;
    text-align: justify; 
}

.top-section {
    margin-bottom: 20em;
}

.bio-section, .word-section h1 {
    display: flex;
    justify-content: center;
}

.word-section h1 {
    margin: 2em 0 0 0.8em;
    justify-content: flex-start;
}

.favorite {
    display: flex;
    justify-content: center;
}

.image-button-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.resume-anchor {
    display: flex;
    justify-content: center;
}

.word-section a {
    /* font-weight: 600; */
    color: #1254a9;
    text-decoration: underline;
    transition: #589ac8 0.3s ease;
  }
  
  .word-section a:hover {
    color: #589ac8;
    /* background-color: #f8e2d1; */
    border-radius: 15%;
    transition: background-color 0.3s ease;
  }

/* 
  .resume-container {
    display: flex;
    justify-content: center;
    width: 100%;
} */

.resume-button {
    font-size: 1em;
    padding: 1em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    width: 50%;
}