/* buttons */
.button {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    text-decoration: none;
}